# Backend
streamlit
fastapi
uvicorn
python-multipart

# HTTP & APIs
requests
anthropic
openai

# LangChain
langchain
langchain-anthropic
langchain-openai
langchain-community

# Vector DB
chromadb

# Utils
python-dotenv
pydantic
